body {
   
    background-image: url(../Imagens/Padrao/Bg_Index.png);
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: cover;
    margin: auto;
}
hr{
    width:80%;
    opacity:50;
}
/*DESKTOP*/
@media(min-width:1920px) {
    .Topo {
        height: 370px;
        background-color: transparent;
        width: 30%;
        margin: auto;
        
    }

    .Logo {
        width: 331px;
        height: 125px;
        float: left;
        margin-top: 70px;
        margin-right: 80px;
    }

    .Menu ul {
        float: left;
        position: relative;
        height: 50px;
        margin-top: 45px;
    }

        .Menu ul li {
            color: white;
            font-family: Roboto;
            font-weight: 200;
            list-style: none;
            float: left;
            position: relative;
            margin-right: 40px;
        }

}


/*NOTEBOOK*/
@media(min-width:1366px) {
    .Topo {
        height: 370px;
        background-color: transparent;
        width:90%;
        margin: auto;
        
    }

    .Logo {
        width: 203px;
        height: 77px;
        float: left;
       
        margin-right: 80px;
    }

    .Menu ul {
        float: left;
        position: relative;
        height: 50px;
        margin-top: 45px;
    }

        .Menu ul li {
            color: white;
            font-family: Roboto;
            font-weight: 200;
            list-style: none;
            float: left;
            position: relative;
            margin-right: 40px;
        }
}

/*TABLE*/
@media(min-width:768PX) {
    
}
