body {
    background-color: white;
    margin: 0 auto;
}
/*OS ESTILOS A SEGUIR SERÃO ESPECIFICAMENTE PARA A PAGINA DE LOGIN DO SISTEMA VOLTADO PARA O CLIENTE*/
/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*---------------------------PARA-DESKTOP-A PARTIR-DE-1920PX-------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media-deskto {
    .Logo img {
    }

    .Background-Image-Page {
        background-image: url("/Imgs/Bg_Login.png");
    }

    .Area-De-Login {
        background-color:;
    }

    .Padrao-Texto {
    }

    .Btn-Prosseguir {
    }

    .Area-De-Login h2 {
    }

    .Area-De-Login h5 {
    }
}

}
/*--------------------------------------------------FIM--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------PARA-DESKTOP-A PARTIR-DE-1920PX------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*---------------------------PARA-DESKTOP-A PARTIR-DE-1366PX-------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1366px) {
    .Logo img {
    }

    .Background-Image-Page {
        background-image:;
    }

    .Background-Image-Page {
        background-image:;
    }

    .Area-De-Login {
        background-color:;
    }

    .Padrao-Texto {
    }

    .Btn-Prosseguir {
    }

    .Area-De-Login h2 {
    }

    .Area-De-Login h5 {
    }
}
/*--------------------------------------------------FIM--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------PARA-DESKTOP-A PARTIR-DE-1366PX------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*---------------------------PARA-DESKTOP-A PARTIR-DE-678PX--------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1366px) {
    .Logo img {
    }

    .Background-Image-Page {
        background-image:;
    }

    .Background-Image-Page {
        background-image:;
    }

    .Area-De-Login {
        background-color:;
    }

    .Padrao-Texto {
    }

    .Btn-Prosseguir {
    }

    .Area-De-Login h2 {
    }

    .Area-De-Login h5 {
    }
}
/*--------------------------------------------------FIM--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------PARA-DESKTOP-A PARTIR-DE-678PX-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*---------------------------PARA-DESKTOP-A PARTIR-DE-320PX--------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1366px) {
    .Logo img {
    }

    .Background-Image-Page {
        background-image:;
    }

    .Background-Image-Page {
        background-image:;
    }

    .Area-De-Login {
        background-color:;
    }

    .Padrao-Texto {
    }

    .Btn-Prosseguir {
    }

    .Area-De-Login h2 {
    }

    .Area-De-Login h5 {
    }
}
/*--------------------------------------------------FIM--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------PARA-DESKTOP-A PARTIR-DE-320PX-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* TERMINA AQUI OS ESTILOS ACIMA ESPECIFICAMENTE PARA A PAGINA DE LOGIN DO SISTEMA VOLTADO PARA O CLIENTE */
